#root {
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: white;
}

.rows-container {
    padding-bottom: 5rem;
}

/* Animations */
.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}