.hero {
    height: 80vh;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 4%;
}

.hero-contents {
    max-width: 600px;
    margin-top: 100px;
    z-index: 10;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    text-align: left;
    background: none;
    -webkit-text-fill-color: initial;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.hero-button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.6rem 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: var(--transition);
}

.hero-button.play {
    background-color: white;
    color: black;
}

.hero-button.play:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.hero-button.info {
    background-color: rgba(109, 109, 110, 0.7);
}

.hero-button.info:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.hero-description {
    width: 100%;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.1rem;
    max-width: 500px;
    height: 80px;
    text-transform: none;
    letter-spacing: normal;
    color: #e6e6e6;
    text-align: left;
}

.hero-fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

.hero-placeholder {
    height: 80vh;
    background-color: var(--bg-color);
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }
}